@{
    ViewData["Title"] = "Gioithieu";
}

<section class="container read">
    <div class="ittem">
        <div>
            <img src="~/Template/Picture/May-in-Brother.jpg" alt="Hình ảnh 1" class="packet">
        </div>
        <div class="siler-content">
            <div class="article content-t-wrap">
                <div class="article__content showall review-post">
                    <h2 class="size">Máy in Brother là thương hiệu máy in luôn nằm trong top những thương hiệu có hiệu suất hoạt động của máy in tốt nhất hiện nay. Đây cũng là một trong những ưu điểm giúp các dòng sản phẩm của máy in Brother rất được yêu thích trong những văn phòng, doanh nghiệp có khối lượng in ấn cao.</h2>
                    <a asp-area="" asp-controller="Home" asp-action="GioithieuBrother">
                        <button class="rounded-full border border-pink-600 py-1 pl-4 pr-6 text-pink-600 bg-pink-50 text-pink-800 arrow-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 inline-block h-4 w-4 animate-bounce arrow-icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Xem thêm
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ittem">
        <div class="text1">
            <img src="~/Template/Picture/May-in-Canon.jpg" alt="Hình ảnh 2" class="packet">
        </div>
        <div class="siler-content">
            <div class="article content-t-wrap">
                <div class="article__content showall review-post">
                    <h2 class="size">Canon là một thương hiệu nổi tiếng đã khá quen thuộc với chúng ta, đặc biệt là dòng sản phẩm máy in đến từ hãng này. Sau đây hãy cùng tìm hiểu xem thương hiệu máy in Canon là của nước nào, và dùng có tốt không nhé!</h2>
                    <a asp-area="" asp-controller="Home" asp-action="GioithieuCanon">
                        <button class="rounded-full border border-pink-600 py-1 pl-4 pr-6 text-pink-600 bg-pink-50 text-pink-800 arrow-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 inline-block h-4 w-4 animate-bounce arrow-icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Xem thêm
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ittem">
        <div>
            <img src="~/Template/Picture/May-in-Hp.jpg" alt="Hình ảnh 3" class="packet">
        </div>
        <div class="siler-content">
            <div class="article content-t-wrap">
                <div class="article__content showall review-post">
                    <h2 class="size">Không chỉ được người tiêu dùng biết đến thông qua ngành hàng máy in Brother, Canon mà HP còn chiếm ưu thế trong thị trường máy in với những sản phẩm đa dạng mẫu mã. Vậy, thương hiệu máy in HP là của nước nào? Dùng có tốt không? Hãy cũng Cửa hàng tìm hiểu nhé!</h2>
                    <a asp-area="" asp-controller="Home" asp-action="GioithieuHp">
                        <button class="rounded-full border border-pink-600 py-1 pl-4 pr-6 text-pink-600 bg-pink-50 text-pink-800 arrow-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 inline-block h-4 w-4 animate-bounce arrow-icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Xem thêm
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ittem">
        <div>
            <img src="~/Template/Picture/May-in-Epson.jpg" alt="Hình ảnh 4" class="packet">
        </div>
        <div class="siler-content">
            <div class="article content-t-wrap">
                <div class="article__content showall review-post">
                    <h2 class="size">Epson là một thương hiệu nổi tiếng và khá quen thuộc với chúng ta, đặc biệt chính là dòng sản phẩm máy in đến từ hãng này. Sau đây hãy cùng Cửa hàng máy in tìm hiểu xem thương hiệu máy in Epson là của nước nào, và dùng có tốt không nhé!</h2>
                    <a asp-area="" asp-controller="Home" asp-action="GioithieuEpson">
                        <button class="rounded-full border border-pink-600 py-1 pl-4 pr-6 text-pink-600 bg-pink-50 text-pink-800 arrow-button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 inline-block h-4 w-4 animate-bounce arrow-icon" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                            </svg>Xem thêm
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
