@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class=" col-6">
        <h3> biểu đồ hóa đơn</h3>
        <canvas id="barChart" width="800" height="810" style="width:197px;height:110px; "></canvas>
    </div>
    <div class=" col-4">
        <br />
        <br />
        <br />
        <h4>X: thể hiện thời gian và ngày mua của hóa đơn </h4>
        <br />
        <h4>Y: tổng giá tiền của hóa đơn</h4>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="~/Admin/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Mathangs/Get",
            data: "",
            contentType: "application/json; charset=utf8 ",
            dataType: "json",
            success: OnSuccess,

        });
        function OnSuccess(data) {
            const barChart = document.getElementById('barChart');
            var _data = data;
            var _labels = _data[0];
            var _CharData = _data[1];
            var colorsr = ['Blue'];
            new Chart(barChart,
                {
                    type: 'bar',
                    data: {
                        labels: _labels,
                        datasets: [{
                            backgroundColor: colorsr,
                            data: _CharData,
                            borderWidth: 1,
                        }]
                    }
                });
        }

    });</script>
