@{ ViewData["Title"] = "Thống kê theo khách hàng"; }
<br />
<br />
<br />
<br />
<h1 class="text-danger nav-link">Thống kê theo khách hàng</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="XemThongKeKhachHang">
            <div class="form-group">
                <label>Email khách hàng</label> <input type="email" name="emailkhachhang" />
            </div>
            <div class="form-group">
                <input class="btn btn-success my-1" type="submit" value="Thống kê" />
            </div>
        </form>
    </div>
</div>