@model MayinOnline.Models.Mathang

@{
    ViewData["Title"] = "Edit";
}

<h1 class="publid">Edit</h1>

<h4>Mặt hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaMh" />
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaGoc" class="control-label"></label>
                <input asp-for="GiaGoc" class="form-control" min="0" />
                <span asp-validation-for="GiaGoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" min="0" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" min="0" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input type="file" name="HinhAnh" class="form-control" accept="image/*" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh1" class="control-label"></label>
                <input type="file" name="Hinh1" class="form-control" accept="image/*" />
                <span asp-validation-for="Hinh1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh2" class="control-label"></label>
                <input type="file" name="Hinh2" class="form-control" accept="image/*" />
                <span asp-validation-for="Hinh2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinh3" class="control-label"></label>
                <input type="file" name="Hinh3" class="form-control" accept="image/*" />
                <span asp-validation-for="Hinh3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaDm" class="control-label"></label>
                <select asp-for="MaDm" class="form-control" asp-items="ViewBag.MaDm"></select>
                <span asp-validation-for="MaDm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuotXem" class="control-label"></label>
                <input asp-for="LuotXem" class="form-control" />
                <span asp-validation-for="LuotXem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuotMua" class="control-label"></label>
                <input asp-for="LuotMua" class="form-control" />
                <span asp-validation-for="LuotMua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

